#watermark {
    position: fixed;
    display: inline-block;
    top: 50vh;
    left: 50vw;
    font-size: 30vmin;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: #e0f0ff;
    z-index: -1;
}
