#watermark {
    position: fixed;
    display: inline-block;
    top: 50vh;
    left: 50vw;
    font-size: 30vmin;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: #e0f0ff;
    z-index: -1;
}

h2 { counter-reset: h3; }

section.numbered h2:before { counter-increment: h2; content: counter(h2) ". " }
section.numbered h3:before { counter-increment: h3; content: counter(h2) "." counter(h3) ". " }
